Makefile
config.h
config.log
config.status
doc/Makefile
elisp/Makefile
gnu/.deps/
gnu/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
stamp-h1
tests/Makefile
tests/atconfig
tests/atlocal

gnu/alloca.h
gnu/getopt.h
gnu/stdio.h
gnu/stdlib.h
gnu/string.h
gnu/strings.h
gnu/*.o
gnu/libgnu.a
gnu/sys/
gnu/time.h
gnu/unistd.h

src/*.o
src/cflow.exe
